/* Resetting default margin and padding */
body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, button, input {
    margin: 0;
    padding: 0;
  }
  
  /* Setting box-sizing to border-box for easier layout calculations */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 400px;
  }
  
  .form-wrap {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .tab-label {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  .tab-label:hover {
    background-color: #f2f2f2;
  }
  
  .tab-label:checked {
    background-color: #ddd;
  }
  
  .tab {
    display: none;
  }
  
  .tab-content {
    padding: 20px;
  }
  
  .tab-content h2 {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  button {
    margin-bottom: 15px;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  